body {
    background-color: black;
}
.card-text:hover {

    font-weight: bold;
    background-color: rgb(33, 33, 34);
    color: rgb(224, 221, 221);
    
}
  
img {

    width: 10rem;
}
  
p {
   margin-left: 40px;
    color: rgb(0, 255, 170);
}